  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image_id, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-outline-secondary btn-block fas fa-user-cog edit_user_40935" href="/users/40935/edit"></a>

